.root {
    ol, ul {
        padding-left: 15px;
        font-size: 14px;
        font-style: italic;
    }
}

.form {
    display: grid;
    grid-gap: 20px;
}

// .row {
//     margin-bottom: 20px;
// }

.fieldBlock {
    display: grid;
    grid-gap: 14px;
}

.fieldRow {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.selectWrapper {
    width: 100%;
}

.colMargin {
    display: grid;
    grid-gap: 10px;
}

.btn {
    width: 100%;
}

.fieldWrapper {
    display: grid;
    grid-gap: 15px;
}

.fieldHeader {
    display: flex;
    justify-content: flex-end;
}

.removeMember {
    display: block;
    font-size: 18px;
    color: red;
    cursor: pointer;
    margin-right: 5px;
    text-align: center;
    line-height: 24px;
}

.text {
    font-size: 14px;
    font-style: italic;
}

table, th, td {
    border: 1px solid #c1c1c1;
}

.errors {
    margin-bottom: 10px;
}

// hr {
//     margin-bottom: 20px;
// }

.title {
    font-size: 1rem;
    line-height: 1.4375em;
    letter-spacing: 0.00938em;
}

.table {
    margin-bottom: 15px;
    border-collapse: collapse;
    width: 100%;

    th, td {
        padding: 5px;
        font-size: 10px;
    }

    span {
        color: red;
        font-size: 16px;
        font-weight: 800;
        transform: rotate(45deg);
        display: inline-block;
        cursor: pointer;
    }
}

.rowFile {
    margin-top: 12px;
}

.actions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}