.root {
    ol, ul {
        padding-left: 15px;
        font-size: 14px;
        font-style: italic;
    }
}

.form {
    display: grid;
    grid-gap: 20px;
}

.btn {
    width: 100%;
}

.title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
}

.text {
    font-size: 14px;
    font-style: italic;
}

.rowLine {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    grid-gap: 10px;
    margin-bottom: 10px;
}

.memberName {
    transition: all .2s ease-in-out;
    font-size: 15px;
    color: #000;
}

.disabled {
    color: #cecece;
}

.actions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.generatorContainer {
    display: grid;
    grid-gap: 15px;
}

.tip {
    font-style: italic;
    font-size: 14px;
}

.cols {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 24px;
}

.generator {
    width: 100%;
    display: grid;
    grid-template-columns: 45% 45% 10%;
    grid-gap: 10px;
    align-items: center;
}

.removeMember {
    display: block;
    transform: rotate(45deg);
    font-size: 24px;
    color: red;
    cursor: pointer;
    margin-right: 5px;
    text-align: center;
    line-height: 24px;
}

.selectWrapper {
    width: 100%;
}

.familyPositionWrapper {
    display: grid;
    grid-gap: 20px;
}

.familyPositionRow {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}